/*
* Common
*/


*::before,
*::after,
*::placeholder {
    transition: all 0.3s linear;
}

a,
img,
svg,
span,
label,
input,
button {
    transition: all 0.3s linear;
}


body {
    font-family: 'Optimum', sans-serif;
    color: #55403B;
}

a{
    text-decoration:none;
    color: #000000;
}

h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 60px;
}

h3{
    font-weight: normal;
}

p{
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
}

input, textarea{
    border: 1px solid #D2CAC2;
    padding: 15px;
    margin: 12px 0;
    font-size: 14px;
}

textarea{
    height: 100px;
}

.container {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
}

.display-none {
    display: none !important;
}

.button{
    background: #55403B;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
}


/*
* Header
*/


.header{
    border-bottom: 1px solid #f1f1f1;
}

.header-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-social{
    display: flex;
    width: 35%;
}

.header-social__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: #583934;
    color: #fff;
    border-radius: 50%;
    font-size: 21px;
    margin: 5px;
}

.header-logo {
    width: 200px;
    padding: 15px 0px;
}

.header-logo__image{
    width: 100%;
}

.header-contacts__link{
    margin: 0 20px;
    font-family: Montserrat;
}

.header-contacts__button{
    color: #fff;
    text-transform: uppercase;
    padding: 7px 25px;
    border-radius: 17px;
}

.header-lang__link{
    color:#848484; 
}

.header-lang__link_active{
    color:#583934;
}

/*
* Menu
*/

.top-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu__item{
    padding: 35px 15px;
    color: #583934;
    font-size: 20px;
}

.top-menu__item:hover{
    text-decoration: underline;
}


/*
* Slider
*/


.slider{
    width: 100%;
    height: 670px;
    background: #583934;
}


/*
* Favorite
*/

.favorite-wrap{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.favorite-image-wrap {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: #000;
    opacity: 0.3;
}

.favorite__item{
    width: 560px;
    height: 380px;
    background: #583934;
    color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    position: relative;
}

.favorite__item img{
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.favorite__item p{
    z-index: 1;
}

.favorite__item h3{
    z-index: 1;
    font-size: 40px;
}


/*
* Blog
*/


.blog{
    background: #F8F5F2;
    text-align: center;
}

.blog-wrap{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.blog__item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    width: 430px;
    height: 550px;
    background: #fff;
    color: #55403B;
    margin: 10px;
}

.blog__item-wrap{
    margin: 20px;
}

.blog__item h3{
    font-size: 26px;
}

.blog__item span{
    font-size: 14px;
}

.blog__item p{
    font-size: 16px;
}

.blog__item img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.blog__view-more{
    color: #55403B;
    font-size: 26px;
    display: block;
    padding-top: 40px;
    padding-bottom: 60px;
    text-decoration: underline;
}


/*
* About
*/


.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__item{
    margin: 10px;
    width: 40%;
    padding-top: 60px;
    text-align: center;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-text__line{
    width: 200px;
    height: 3px;
    background: #55403B;
    margin-bottom: 30px;
}

.about h3{
    font-size: 46px;
}

.about a{
    color: #55403B;
    font-size: 26px;
    display: block;
    padding-top: 40px;
    padding-bottom: 60px;
    text-decoration: underline;
}

/*
* Contact
*/


.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-wrap{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
}

.contact-us__item{
    width: 25%;
}

.contact-us__form{
    display: flex;
    flex-direction: column;
}

.contact-us__form button{
    text-transform: uppercase;
    padding: 7px 25px;
    margin-top: 20px;
    color: #fff;
    height: 50px;
    width: 200px
}

.contact-us__subtitle{
    margin-bottom: 60px;
}

/*
* Instagram
*/


.instagram-wrap{
    width: 100%;
    height: 350px;
    background: #F8F5F2;
}


/*
* Footer
*/


.footer{
    background: #291B19;
    color: #9F7264;
}

.footer-wrap-row{
    display: flex;
    flex-direction: row;
}

.footer-wrap-col{
    display: flex;
    flex-direction: column;
}

.footer a{
    color: #9F7264;
}

.footer-wrap-col img{
    width: 150px;
}

.footer-menu{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}

.footer-menu__item{
    width: 250px;
    margin: 15px 0;
}

.footer-wrap-col{
    justify-content: center;
    align-items: center;
}    