/*
* Common
*/


*::before,
*::after,
*::placeholder {
    transition: all 0.3s linear;
}

a,
img,
svg,
span,
label,
input,
button {
    transition: all 0.3s linear;
}



body {
    font-family: 'Montserrat', sans-serif;
    color: #55403B;
}

a{
    text-decoration:none;
    color: #000000;
}

h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.container {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
}

.display-none {
    display: none !important;
}

.button{
    background: #55403B;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
}


/*
* Header
*/


.header{
    border-bottom: 1px solid #f1f1f1;
}

.header-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-social{
    display: flex;
    width: 35%;
}

.header-social__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: #583934;
    color: #fff;
    border-radius: 50%;
    font-size: 21px;
    margin: 5px;
}

.header-logo{
    width: 180px;
    padding: 20px 0px;
}

.header-logo__image{
    width: 100%;
}

.header-contacts__link{
    margin: 0 20px;
}

.header-contacts__button{
    color: #fff;
    text-transform: uppercase;
    padding: 7px 25px;
    border-radius: 17px;
}

.header-lang__link{
    color:#848484; 
}

.header-lang__link_active{
    color:#583934;
}

/*
* Menu
*/

.top-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-menu__item{
    padding: 30px 20px;
}

.top-menu__item:hover{
    text-decoration: underline;
}


/*
* Slider
*/


.slider{
    width: 100%;
    height: 670px;
    background: #583934;
}


/*
* Favorite
*/

.favorite-wrap{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.favorite__item{
    width: 560px;
    height: 425px;
    background: #583934;
    color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}


/*
* Blog
*/

.blog{
    background: #F8F5F2;
}

.blog-wrap{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.blog__item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 430px;
    height: 550px;
    border: 1px solid #000;
    background: #fff;
    margin: 10px;
}

.blog__item img{
    object-fit: contain;
    overflow: hidden;
    width: 100%;
}